---
layout: layouts/book.njk
permalink: /es/agendar/
lang: es
altUrl: /book/
eleventyComputed:
  title: "{{ book.es.metaTitle }}"
  metaTitle: "{{ book.es.metaTitle }}"
  metaDesc: "{{ book.es.metaDesc }}"
---
