---
layout: layouts/start.njk
permalink: /es/empezar/
lang: es
altUrl: /start/
eleventyComputed:
  title: "{{ start.es.metaTitle }}"
  metaTitle: "{{ start.es.metaTitle }}"
  metaDesc: "{{ start.es.metaDesc }}"
---
