---
layout: layouts/work.njk
permalink: /es/proyectos/
lang: es
altUrl: /work/
eleventyComputed:
  title: "{{ work.es.metaTitle }}"
  metaTitle: "{{ work.es.metaTitle }}"
  metaDesc: "{{ work.es.metaDesc }}"
---
