---
layout: layouts/book.njk
permalink: /book/
lang: en
altUrl: /es/agendar/
eleventyComputed:
  title: "{{ book.en.metaTitle }}"
  metaTitle: "{{ book.en.metaTitle }}"
  metaDesc: "{{ book.en.metaDesc }}"
---
