---
layout: layouts/start.njk
permalink: /start/
lang: en
altUrl: /es/empezar/
eleventyComputed:
  title: "{{ start.en.metaTitle }}"
  metaTitle: "{{ start.en.metaTitle }}"
  metaDesc: "{{ start.en.metaDesc }}"
---
