---
layout: layouts/work.njk
permalink: /work/
lang: en
altUrl: /es/proyectos/
eleventyComputed:
  title: "{{ work.en.metaTitle }}"
  metaTitle: "{{ work.en.metaTitle }}"
  metaDesc: "{{ work.en.metaDesc }}"
---
